.container{
  display: flex;
  height: 100%;
}

.list{
  background-color: #262626;
  width: 85%;
  height: 100%;
  overflow-y: auto;
}

.buttonGroup{
  width: 15%;
  background-color: #3b3939;
  float: right;
}

.btn{
  margin: 4.5vh 4.5vh 5.5vh;
  height: 10vh;
}
