.container{
  display: flex;
  height: 100%;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select{
  padding: 15px;
  display: flex;
  justify-content: center;
}

.block{
  width: 40%;
  padding: 10px;
}

.formula span{
  font-size: 24px;
}

.formula svg{
  width: 9px;
}

