.container{
  padding: 6vh;
  height: 100%;
  background-color: #3b3939;
}

.btn{
  margin: 2vh;
  height: 15vh;
  width: 15vh;
}

.setting{
  display: flex;
  align-items: center;
  justify-content: start;
  user-select: none;
  height: 25%;
}

.settingText{
  font-weight: 600;
  font-size: 0.9rem;
}

.selectField{
  display: flex;
  align-items: center;
  margin: 2vh;
  width: max-content;
  height: 15vh;
}
