.container{
  display: flex;
  position: relative;
  height: 35px;
  align-items: center;
  user-select: none;
  width: 100%;
}

.appName{
  font-size: 0.6rem;
  font-weight: 600;
  padding: 10px;
  width: 80%;
  -webkit-app-region: drag;
}

.btnGroup{
  display: flex;
  width: 20%;
}

.btn{
  padding: 0 20px;
  line-height: 10px;
  height: 35px;
  width: 7.5vw;
  user-select: none;
  margin-left: auto;
}

.closeBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 35px;
  width: 7.5vw;
}

.closeBtn:hover{
  background-color: #be0909;
}

.btn:hover{
  background-color: #4d4d4d;
}
