.container{
  display: flex;
  height: 100%;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select{
  padding: 15px;
  display: flex;
  justify-content: center;
}

.block{
  width: 40%;
  padding: 10px;
}

