.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.taskInfoText{
  font-weight: 600;
  font-size: 1.1rem;
}

.button{
  height: 72px;
  width:  72px;
}

