.container{
  display: flex;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.column{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.select{
  padding: 15px;
  display: flex;
  justify-content: center;
}

.block{
  width: 40%;
  padding: 10px;
}

